{% extends "base.html" %}
{% block base%}
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">接口测试平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li  class="active"><a href="/project/"><i class="glyphicon glyphicon-th"> 项目管理</i><span class="sr-only">(current)</span></a></li>
            <li><a href="/module/"><i class="glyphicon glyphicon-th-list"> 模块管理</i></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/testcase/">用例管理</a></li>
            <li><a href="">任务管理</a></li>
 
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">mock Server</a></li>
            <li><a href="">测试工具</a></li>
          </ul>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
          {% if type == "list" %}
          <h4 class="sub-header">项目列表<button type="button" class="btn btn-sm btn-primary" style="float: right;" onclick="location.href='/project/add_project/'">创建项目</button></h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>id</th>
                  <th>名称</th>
                  <th>描述</th>
                  <th>状态</th>
                  <th>创建时间</th>
                  <th>更新时间</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for p in projects %}
                <tr>
                  <td>{{p.id}}</td>
                  <td>{{p.name}}</td>
                  <td>{{p.describe}}</td>
                  <td>
                    {% if p.status == True %}
                      <span>开启</span>
                    {% else %}
                      <span>关闭</span>
                    {% endif %}
                  </td>
                  <td>{{ p.create_time | date:"Y-m-d H:i:s" }}</td>
                  <td>{{ p.update_time | date:"Y-m-d H:i:s" }}</td>
                  <td>
                    <a href="/project/edit_project/{{p.id}}/"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="/project/delete_project/{{p.id}}/" style="margin-left: 10px;"><i class="glyphicon glyphicon-trash"></i></a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}

          {% if type == "add" %}
          <fieldset>
          <h4 class="sub-header">添加项目</h4>

          <form id="target" class="form-horizontal" method="post" action="/project/add_project/">
            
            
            <!-- Text input-->
            <div class="control-group">
            <label class="control-label">名称</label>
              <div class="controls">
            <input type="text" name="name" placeholder="" class="input-xlarge">
            <div style="color:red;text-align:  left;">{{name_error}}</div>
              </div>
            </div>
  
            <!-- Textarea -->
            <div class="control-group">
              <label class="control-label">描述</label>
              <div class="controls">
            <div class="textarea"><textarea style="width: 180px" name="describe"></textarea></div>
              </div>
            </div>
            
            <label class="control-label">状态</label>
            <div class="controls">
              <!-- Inline Radios -->
              <label class="radio inline" style="left: 20px;float: left;">
                <input type="radio" value="1" checked="checked" name="status">开启     
              </label>
              <label class="radio inline" style="left: 90px;">
              <input type="radio" value="0" name="status">关闭        
              </label>
            </div>
            
            <!-- Button -->
            <div class="control-group">
              <div class="controls">
              <button class="btn btn-success">保存</button>
              </div>
            </div>


          </form>
          </fieldset>
          {% endif %}


          {% if type == "edit" %}
          <h4 class="sub-header">编辑项目</h4>
          <form id="target" class="form-horizontal" method="post" action="/project/edit_project/{{pid}}/">
          {{form.as_p}}
          <button type="submit">提交</button>
          {% endif %}
         
        </div>

      </div>
    </div>
</body>
{% endblock %}


